@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.mainPageLogo {
  width: 40vmin;
  margin: 5vmin;
}

.mainPageInput {
  width: 40vmin;
  margin: 5vmin;
}

.mainPageButton {
  width: 40vmin;
  background-color: #ce2a2c;
  border-color: black;
}