@import '~antd/dist/antd.css';

.mainPage {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmax);
}

.mainPageLogo {
  width: 40vmax;
  margin-bottom: 5vmax;
}

.mainPageInput {
  width: 40vmax;
  margin-bottom: 5vmax;
}

.mainPageButton {
  width: 40vmax;
  background-color: #ce2a2c;
  border: 2px solid black;
}

.mainPageButton:hover {
  background-color: black;
  border: 2px solid #ce2a2c;
}

.ant-btn-primary:focus {
  background-color: #ce2a2c;
  border: 2px solid black;
}